.ingombri {
   height: 250px;
   background-color: antiquewhite;
}




/****************
      HEADER
****************/

/* navbar */

.secondary-navbar {
   background-color: #000;
   text-align: right;
}

.secondary-navbar img {
   height: 14px;
}

nav {
   margin-top: 40px;
}


/* jumbotron */

.jumbotron {
   background-color: cadetblue;
   padding-top: 17em;
   padding-bottom: 5em;
}


/****************
      MAIN
****************/







/****************
      FOOTER
****************/