/****************
      HEADER
****************/

.secondary-navbar {
   background-color: #000;
   text-align: right;
}

.secondary-navbar img {
   height: 14px;
}

nav {
   margin-top: 40px;
}



/****************
      MAIN
****************/







/****************
      FOOTER
****************/